<div  class="container mt40 ml40 mr40">
<!-- {{productList|json}} -->
    <mat-grid-list cols="3" rowHeight="3:5" gutterSize="5">
        <!-- <mat-grid-tile *ngFor="let p of  productList" > <img src="../../../assets/Samsung.png"></mat-grid-tile> -->
     
        <mat-grid-tile *ngFor="let p of productList">
          <div class="row home-page-product-image">
          <img src="https://img.favpng.com/23/20/7/computer-icons-information-png-favpng-g8DtjAPPNhyaU9EdjHQJRnV97_t.jpg">
          <div class="mt-3">
          <p><b>{{p.productName}}</b></p>
        </div>
        <div class="mt-2">
          <p style="color: #e81313;"><b><i>Rs.{{p.price}}/</i></b></p>
        </div>
        <div class="mt-2">
          <p style="white-space: inherit; word-wrap:break-word ; text-overflow:ellipsis;"><i>{{p.description}}</i></p>
        </div>
        <div class="mt-2">
          <button type="button" routerLink="/productinfo"  mat-raised-button color="warn">View Details</button>
        </div>
       
        <div class="mt20">
          <button  type="button" routerLink="/productinfo"  mat-raised-button color="primary">Add To Cart</button>
        </div>

        
        </div>


        </mat-grid-tile>



      
       
    </mat-grid-list>
        <!-- <mat-grid-tile><img src="../../../assets/Iphone.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Motorola.png"></mat-grid-tile>
     
        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>
       


      
        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Iphone.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Motorola.png"></mat-grid-tile>
     
        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>



        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Iphone.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Motorola.png"></mat-grid-tile>
     
        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>




        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Iphone.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Motorola.png"></mat-grid-tile>
     
        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Samsung.png"></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/Motorola.png"></mat-grid-tile> -->

    
    
      
      <div class="container">
      <div class="col-md-6 offset-md-3 ">
      
     
        
      </div>
        
     
      
    
   
  
       

       

      

    </div>